In [33]:
import pandas as pd

df = pd.read_excel('school-profile-2008-2021d13a2f404c94637ead88ff00003e0139.xlsx', sheet_name = 1)

In [34]:
df = df[['ACARA SML ID','Calendar Year','ICSEA Percentile','Language Background Other Than English - Yes (%)','Language Background Other Than English - No (%)','Language Background Other Than English - Not Stated (%)','Total Enrolments']]

In [35]:
df

,ACARA SML ID,Calendar Year,ICSEA Percentile,Language Background Other Than English - Yes (%),Language Background Other Than English - No (%),Language Background Other Than English - Not Stated (%),Total Enrolments
0,40000,2008,75.0,3.0,89.0,8.0,410.0
1,40000,2009,75.0,3.0,78.0,19.0,409.0
2,40000,2010,70.0,3.0,81.0,16.0,392.0
3,40000,2011,71.0,3.0,97.0,0.0,385.0
4,40000,2012,69.0,3.0,96.0,1.0,391.0
...,...,...,...,...,...,...,...
130361,53049,2021,83.0,100.0,0.0,0.0,20.0
130362,53050,2021,79.0,8.0,92.0,0.0,13.0
130363,53055,2021,NaN,NaN,NaN,NaN,NaN
130364,53057,2021,NaN,NaN,NaN,NaN,NaN
130365,53058,2021,NaN,NaN,NaN,NaN,NaN

In [36]:
df.isna().sum()

ACARA SML ID                                                  0
Calendar Year                                                 0
ICSEA Percentile                                           6482
Language Background Other Than English - Yes (%)           2653
Language Background Other Than English - No (%)            2653
Language Background Other Than English - Not Stated (%)    2653
Total Enrolments                                            906
dtype: int64

In [37]:
na_list = []

for val in df['ACARA SML ID'].unique():
    if (df[df['ACARA SML ID'] == val].isna().sum().sum()>0):
        na_list.append(val)

In [38]:
df = df.drop(df[df['ACARA SML ID'].isin(na_list)].index)

In [39]:
clean_cols = []
for col in df.columns:
    clean_cols.append(col.replace(' ','_').lower().replace('_(%)','').replace('-','_').replace('___','_'))
    
df.columns = clean_cols

In [44]:
df[df['acara_sml_id'] == 40001]

,acara_sml_id,calendar_year,icsea_percentile,language_background_other_than_english_yes,language_background_other_than_english_no,language_background_other_than_english_not_stated,total_enrolments
14,40001,2008,92.0,1.0,60.0,39.0,347.0
15,40001,2009,92.0,2.0,65.0,33.0,333.0
16,40001,2010,94.0,3.0,82.0,15.0,335.0
17,40001,2011,91.0,3.0,95.0,1.0,337.0
18,40001,2012,91.0,4.0,96.0,0.0,331.0
19,40001,2013,94.0,5.0,94.0,1.0,337.0
20,40001,2014,92.0,5.0,93.0,2.0,348.0
21,40001,2015,93.0,7.0,90.0,3.0,365.0
22,40001,2016,89.0,7.0,91.0,2.0,370.0
23,40001,2017,92.0,7.0,92.0,1.0,372.0
24,40001,2018,93.0,7.0,92.0,1.0,390.0
25,40001,2019,94.0,10.0,90.0,0.0,404.0
26,40001,2020,93.0,12.0,88.0,0.0,403.0
27,40001,2021,93.0,13.0,87.0,0.0,388.0